<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1" (click)="markAsNotified()">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span *ngIf="notificationsNumber && notificationsNumber > 0" class="badge badge-danger badge-counter">{{ notificationsNumber }}</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <div *ngIf="requests.length > 0">
                    <h6 class="dropdown-header">
                        Solicitudes de vinculación de pacientes
                    </h6>
                    <app-request-item *ngFor="let request of requests; let i = index" [data]="request"></app-request-item>
                    <a class="dropdown-item text-center small text-gray-500">Solicitudes</a>
                </div>
                <div *ngIf="payments.length > 0">
                    <h6 class="dropdown-header">
                        Pagos
                    </h6>
                    <app-payment *ngFor="let payment of payments; let i = index" [payment]="payment"></app-payment>
                </div>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ medicName }}</span>
                <img class="img-profile rounded-circle" src="{{ apiUrl }}/imagen/usuario/{{ userId }}/" />
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" [routerLink]="['/medic-profile']"> <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil </a>
                <!-- <a class="dropdown-item"> <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings </a> -->
                <!-- <a class="dropdown-item"> <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Activity Log </a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()"> <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Salir </a>
            </div>
        </li>
    </ul>
</nav>