<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Nueva medición de {{ patient.nombre }}</h1>
</div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card shadow mt-4 mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                    <label>Fecha Hora</label>
                    <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" type="text" placeholder="" #dateTime  formControlName="datetime"  placeholder="Fecha y hora de medición..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['datetime'].errors }" />
                    <owl-date-time #dt1></owl-date-time>
                    <div *ngIf="submitted && formControls['datetime'].errors" class="invalid-feedback">
                      {{ getDateTimeError() }}
                  </div>
              </div>
              <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                  <label>Valor</label>
                  <input type="number" formControlName="value" placeholder="Valor..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['value'].errors }" />
                  <div *ngIf="submitted && formControls['value'].errors" class="invalid-feedback">
                      {{ getValueError() }}
                  </div>
              </div>
              <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                  <label>Momento</label>
                  <select formControlName="moment" class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['moment'].errors }" >
                    <option *ngFor="let moment of moments" [value]="moment">
                      {{ getDayMoment(moment) }}
                    </option>
                  </select>
                  <div *ngIf="submitted && formControls['moment'].errors" class="invalid-feedback">
                    {{ getMomentError() }}
                  </div>
              </div>
              <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                <label>Tipo</label>
                <select  formControlName="type" class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['type'].errors }" >
                  <option *ngFor="let type of types" [value]="type">
                    {{ getType(type) }}
                  </option>
                </select>
                <div *ngIf="submitted && formControls['type'].errors" class="invalid-feedback">
                  {{ getTypeError() }}
                </div>
            </div>
          </div>
          <div class="form-group mt-2 mb-3">
              <button class="btn btn-success">Grabar</button>
          </div>
        </div>
      </div>
    </form>
    <button class="btn btn-secondary" type="button" (click)="back()">Volver</button>
