<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Reporte: Cantidad de mediciones</h1>
</div>
<div class="row" *ngIf="!loading">
    <div class="row m-auto">
        <form [formGroup]="chartForm" (ngSubmit)="onSubmit()" class="user">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label>Medición mínima</label>
                    <input type="number" formControlName="minMeasurement" placeholder="Medición mínima..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['minMeasurement'].errors }" />
                    <div *ngIf="submitted && formControls['minMeasurement'].errors" class="invalid-feedback">
                        {{ getMinMeasurementError() }}
                    </div>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label>Medición máxima</label>
                    <input type="number" formControlName="maxMeasurement" placeholder="Medición máxima..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['maxMeasurement'].errors }" />
                    <div *ngIf="submitted && formControls['maxMeasurement'].errors" class="invalid-feedback">
                        {{ getMaxMeasurementError() }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block mb-5">Actualizar</button>
        </form>
    </div>
</div>
<div>
    <div *ngIf="!loading" style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
    </div>
    <div class="row">
        <div *ngIf="loading" class="m-auto">
            <i class="fa-3x fas fa-spinner fa-spin"></i>
        </div>
    </div>
</div>