<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Historia Clínica de {{ patient.nombre }}</h1>
    <a (click)="download()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm download-button"><i class="fas fa-download fa-sm text-white-50"></i> Descargar</a>
</div>
<div class="card shadow mt-4 mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Filtros</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
        <label>Fecha Desde</label>
        <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" type="text" placeholder="" #fechaDesdeInput class="form-control form-control-user" />
        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
      </div>
      <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
        <label>Fecha Hasta</label>
        <input type="text" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" placeholder="" #fechaHastaInput class="form-control form-control-user" />
        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
      </div>
      <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
        <label>Descripción</label>
        <input type="text" placeholder="" #descripcionInput class="form-control form-control-user" />
      </div>
      <div class="col-sm-6 col-md-3 mb-3 mt-4 mb-sm-0">
        <button class="btn btn-info mr-2" type="button" (click)="filterData()">Filtrar</button>
        <button class="btn btn-light" type="button" (click)="cleanFilter()">Limpiar Filtros</button>
      </div>
    </div>
  </div>
</div>
<div class="card shadow mt-4 mb-4">
  <div class="card-body">
    <div class="float-right">
      <button class="btn btn-light" type="button" [disabled]="pageNumber == 0" (click)="previousPage()"><i class="fas fa-chevron-left"></i></button>
      <span>{{ +pageNumber + 1 }}</span>
      <button class="btn btn-light" type="button" [disabled]="lastPage" (click)="nextPage()"><i class="fas fa-chevron-right"></i></button>
    </div>
    <div class="float-left">
      <button class="btn btn-info mb-3" (click)="newItem()" type="button">Nuevo</button>
    </div>
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of historyItems">
          <td>{{ item.fecha }}</td>
          <td>{{ getDescription(item.descripcion) }}</td>
          <td>
            <a class="dropdown-item" (click)="editHistory(item)"
              ><i style="color: mediumblue" class="fas fa-pencil-alt fa-sm fa-fw mr-2 text-blue"></i
            ></a>
    </td>
    <td>
        <a class="dropdown-item" (click)="deleteHistory(item)"><i style="color: crimson" class="fas fa-trash-alt fa-sm fa-fw mr-2 "></i></a>
    </td>
    </tr>
    </tbody>
    </table>
    <div class="float-right">
        <button class="btn btn-light" type="button" [disabled]="pageNumber == 0" (click)="previousPage()"><i class="fas fa-chevron-left"></i></button>
        <span>{{ +pageNumber + 1 }}</span>
        <button class="btn btn-light" type="button" [disabled]="lastPage" (click)="nextPage()"><i class="fas fa-chevron-right"></i></button>
    </div>
    <div class="float-left">
        <button class="btn btn-info mt-0" (click)="newItem()" type="button">Nuevo</button>
    </div>
</div>
</div>
<button class="btn btn-secondary" type="button" (click)="back()">Volver</button>