<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Pacientes</h1>
</div>

<div class="float-left" *ngxPermissionsOnly="PERMISSION_PREMIUM">
    <button class="btn btn-primary mb-3" (click)="newPatient()" type="button">Nuevo</button>
</div>
<table class="table table-striped table-bordered ">
    <thead>
        <tr>
            <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients">
            <th scope="row">
                <div class="text-center">
                    <img class="rounded-circle" src="{{ apiUrl }}/imagen/usuario/{{ patient.idUsuario }}/" height="60px" width="60px" alt="" />
                </div>
            </th>
            <td>{{ patient.nombre }}</td>
            <td>{{ patient.fechaNacimiento }}</td>
            <td>{{ getDiabetesType(patient.tipoDiabetes) }}</td>
            <td>
                <a class="dropdown-item" (click)="goToPatient(patient)"><i class="fas fa-search fa-sm fa-fw mr-2 text-blue"></i></a>
            </td>
        </tr>
    </tbody>
</table>