<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard: Reportes generales de pacientes</h1>
</div>



<div class="row">
    <div class="col-sm-12 col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Mediciones fuera de rango recientes</h6>
            </div>
            <div class="card-body">
                <div *ngIf="!loadingMeasurementLog">
                    <table class="table table-striped table-bordered ">
                        <thead>
                            <tr>
                                <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let log of measurementLog">
                                <th scope="row">
                                    <div class="text-center">
                                        <img class="rounded-circle" src="{{ apiUrl }}/imagen/usuario/{{ log.idUsuario }}/" height="40px" width="40px" alt="" />
                                    </div>
                                </th>
                                <td>{{ log.nombrePaciente }}</td>
                                <td>{{ log.medicion}}</td>
                                <td>{{ getDayMoment(log.momentoMedicion) }}</td>
                                <td>{{ log.fechaHora}}</td>
                                <a class="dropdown-item" (click)="goToPatient(log.idPaciente)"><i class="fas fa-search fa-sm fa-fw mr-2 text-blue"></i></a>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="loadingMeasurementLog" class="m-auto ">
                        <i class="fa-3x fas fa-spinner fa-spin "></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Mediciones por momento del día</h6>
            </div>
            <div class="card-body">
                <div *ngIf="!loadingReportByMoment" class="chart chart-area">
                    <canvas baseChart [datasets]="barChartReportByMomentData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="false" [chartType]="barChartType"></canvas>
                </div>
                <div *ngIf="loadingReportByMoment" class="m-auto ">
                    <i class="fa-3x fas fa-spinner fa-spin "></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Mediciones por rango de edad</h6>
            </div>
            <div class="card-body">
                <div *ngIf="!loadingReportByAgeRange" class="chart chart-area">
                    <canvas baseChart [datasets]="barChartReportByAgeRangeData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                </div>
                <div *ngIf="loadingReportByAgeRange" class="m-auto ">
                    <i class="fa-3x fas fa-spinner fa-spin "></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Mediciones por tipo de diabetes</h6>
            </div>
            <div class="card-body">
                <div *ngIf="!loadingReportByDiabetesType" class="chart chart-area">
                    <canvas baseChart [datasets]="barChartReportByDiabetesTypeData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                </div>
                <div *ngIf="loadingReportByDiabetesType" class="m-auto ">
                    <i class="fa-3x fas fa-spinner fa-spin "></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Mediciones por tipo de medición</h6>
            </div>
            <div class="card-body">
                <div *ngIf="!loadingReportByMeasurementType" class="chart chart-area">
                    <canvas baseChart [datasets]="barChartReportByMeasurementTypeData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                </div>
                <div *ngIf="loadingReportByMeasurementType" class="m-auto ">
                    <i class="fa-3x fas fa-spinner fa-spin "></i>
                </div>
            </div>
        </div>
    </div>
</div>