<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Reporte: Por momento</h1>
</div>
<div>
    <div *ngIf="!loading" style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
    </div>
    <div class="row ">
        <div *ngIf="loading" class="m-auto ">
            <i class="fa-3x fas fa-spinner fa-spin "></i>
        </div>
    </div>
</div>