<a class="dropdown-item d-flex align-items-center">
    <div class="mr-3">
        <div class="icon-circle">
            <img class="rounded-circle" src="http://localhost:8080/api/v1/imagen/usuario/{{ data.idUsuarioPaciente }}/" height="60px" width="60px" alt="" />
        </div>
    </div>
    <div>
        <div class="small text-gray-500">Nueva solicitud de vinculación</div>
        <span class="font-weight-bold">{{ data.paciente.nombre }} indicó que sos su médico</span>
        <div class="row">
            <div class="col-md-6">
                <button type="button" (click)="accept(data.id)" class="btn btn-success btn-user btn-block ">Confirmar</button>
            </div>
            <div class="col-md-6">
                <button type="button" (click)="reject(data.id)" class="btn btn-danger btn-user btn-block ">Rechazar</button>
            </div>
        </div>
    </div>
</a>