<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Reporte: Rango de edad</h1>
</div>
<div class="row" *ngIf="!loading">
    <div class="row m-auto">
        <form [formGroup]="chartForm" (ngSubmit)="onSubmit()" class="user">
            <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                    <label>Rango de edad</label>
                    <select formControlName="ageRange" class="form-control">
            <option [value]="ageRange['id']" *ngFor="let ageRange of ageRangeEnum">{{ ageRange["label"] }}</option>
          </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block mb-5">Actualizar</button>
        </form>
    </div>
</div>
<div>
    <div *ngIf="!loading" style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
    </div>
    <div class="row">
        <div *ngIf="loading" class="m-auto">
            <i class="fa-3x fas fa-spinner fa-spin"></i>
        </div>
    </div>
</div>