<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-navbar></app-navbar>
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
        <ng-chat [adapter]="adapter" [userId]="userId" [isCollapsed]="true" title="Pacientes" searchPlaceholder="Buscar..." messagePlaceholder="" [searchEnabled]="false" (onMessagesSeen)="markMessagesAsRead($event)" [theme]="theme"></ng-chat>
        <app-footer></app-footer>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>