<div *ngIf="patient">
    <div class="text-center">
        <img class="rounded-circle" src="{{ apiUrl }}/imagen/usuario/{{ patient.idUsuario }}/" height="100px" width="100px" alt="" />
        <h1 class="h3 mt-2 mb-2 text-gray-800 ">{{ patient.nombre }}</h1>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4">
            <div class="card shadow mt-4 mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Datos personales</h6>
                </div>
                <div class="card-body">
                    <p class="mb-0">Fecha de Nacimiento: {{ patient.fechaNacimiento }}</p>
                    <p class="mb-0">Peso: {{ patient.peso }}</p>
                    <p class="mb-0">Altura: {{ patient.altura }}</p>
                    <p class="mb-0">Sexo: {{ getSex(patient.sexo) }}</p>
                    <p class="mb-0">Tipo de diabetes: {{ getDiabetesType(patient.tipoDiabetes) }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow mt-4 mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Mediciones <a class="pull-right" [routerLink]="['/patient-measurement']">(<u>Ver más</u>)</a>
                    </h6>
                </div>
                <div class="card-body" *ngIf="lastMeasurement">
                    <p class="mb-0"><strong>Ultima medición</strong></p>
                    <div class="mb-0 d-sm-flex d-sm-inline-block">
                        Valor: {{ lastMeasurement.valor }} <span class=" {{ getClass(lastMeasurement.resultadoMedicion) }} ml-1 mt-1 icon-circle"></span>
                    </div>
                    <p class="mb-0">Momento del día: {{ getDayMoment(lastMeasurement.momento) }}</p>
                    <p class="mb-0">Fecha y Hora: {{ lastMeasurement.fechaHora }}</p>
                    <p class="mb-0">
                        Hemoglobina Glicosilada: {{ glycosylatedHemoglobin }}%
                        <span tooltip="Este valor es estimativo y no debe utilizarse para realizar diagnósticos" placement="top" show-delay="250"><i class="fas fa-exclamation-circle text-warning"></i
            ></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card shadow mt-4 mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Otros datos</h6>
                </div>
                <div class="card-body">
                    <p *ngIf="!patient.externo" class="mb-0"><a [routerLink]="['/patient-insulin']">Inyecciones de insulina</a></p>
                    <p *ngIf="!patient.externo" class="mb-0"><a [routerLink]="['/patient-medicine']">Medicamentos</a></p>
                    <p *ngIf="!patient.externo" class="mb-0"><a [routerLink]="['/patient-food']">Alimentación</a></p>
                    <p *ngIf="!patient.externo" class="mb-0"><a [routerLink]="['/patient-exercises']">Ejercicios</a></p>
                    <p class="mb-0"><a [routerLink]="['/patient-history']">Historia Clínica</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Últimas mediciones</h6>
                </div>
                <div class="card-body">
                    <div *ngIf="!loadingChartLatestMeasurements" class="chart chart-line">
                        <canvas baseChart [datasets]="barChartLatestMeasurementsData" [labels]="barLatestMeasurementsLabels" [options]="barChartLatestMeasurementsOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                    </div>
                    <div *ngIf="loadingChartLatestMeasurements" class="m-auto ">
                        <i class="fa-3x fas fa-spinner fa-spin "></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Hemoglobinas glicosiladas del último año</h6>
                    <small>Desde el primer día del año actual, hasta el último día del mismo.</small>
                </div>
                <div class="card-body">
                    <div *ngIf="!loadingChartGlycosylatedHemoglobinLastYear" class="chart chart-line">
                        <canvas baseChart [datasets]="barChartGlycosylatedHemoglobinLastYearData" [labels]="barChartGlycosylatedHemoglobinLastYearLabels" [options]="barChartGlycosylatedHemoglobinLastYearOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                    </div>
                    <div *ngIf="loadingChartGlycosylatedHemoglobinLastYear" class="m-auto ">
                        <i class="fa-3x fas fa-spinner fa-spin "></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-secondary" type="button" (click)="back()">Volver</button>
</div>