<h3>Imagen</h3>
<form (ngSubmit)="onSubmit()">
    <div class="text-center">
        <img class="rounded-circle" src="{{ apiUrl }}/imagen/usuario/{{ user.id }}/" height="200px" width="200px" alt="" />
        <div class="form-group mt-2">
            <input type="file" name="profile" accept="image/png" (change)="onFileSelect($event)" />
        </div>
        <div class="form-group mt-2 mb-3">
            <button class="btn btn-success">Grabar Imagen</button>
        </div>
    </div>
</form>
<hr />
<h3>Datos personales</h3>
<form [formGroup]="editForm" (ngSubmit)="onEditSubmit()" class="user">
    <div class="form-group row mt-3">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label class="sr-only">Nombre y apellido</label>
            <input type="email" formControlName="name" placeholder="Nombre y apellido..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['name'].errors }" />
            <div *ngIf="submitted && formControls['name'].errors" class="invalid-feedback">
                {{ getNameError() }}
            </div>
        </div>
        <div class="col-sm-6">
            <label class="sr-only">Matrícula</label>
            <input type="text" formControlName="enrollment" placeholder="Matrícula..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['enrollment'].errors }" />
            <div *ngIf="submitted && formControls['enrollment'].errors" class="invalid-feedback">
                {{ getEnrollmentError() }}
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <label class="sr-only">Descripción</label>
            <input type="text" formControlName="description" placeholder="Descripción..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['description'].errors }" />
            <div *ngIf="submitted && formControls['description'].errors" class="invalid-feedback">
                {{ getDescriptionError() }}
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="form-group mt-2 mb-3">
            <button class="btn btn-success">Grabar Datos</button>
        </div>
    </div>
</form>
<hr />
<h3>Ubicación</h3>
<div class="mb-3">
    <button [routerLink]="['position']" class="btn btn-primary mr-2">Marcar ubicación de atención para mis pacientes</button
  ><button class="btn btn-danger" (click)="deletePosition()">Borrar</button>
</div>