<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Mediciones de {{ patient.nombre }}</h1>
    <a (click)="download()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm download-button"><i class="fas fa-download fa-sm text-white-50"></i> Descargar</a
  >
</div>
<div class="card shadow mt-4 mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Filtros</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
        <label>Fecha Hora Desde</label>
        <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" type="text" placeholder="" #fechaDesdeInput class="form-control form-control-user" />
        <owl-date-time #dt1></owl-date-time>
      </div>
      <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
        <label>Fecha Hora Hasta</label>
        <input type="text" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" placeholder="" #fechaHastaInput class="form-control form-control-user" />
        <owl-date-time #dt2></owl-date-time>
      </div>
      <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
        <label>Valor desde</label>
        <input type="number" placeholder="" #valorDesdeInput class="form-control form-control-user" />
      </div>
      <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
        <label>Valor hasta</label>
        <input type="number" placeholder="" #valorHastaInput class="form-control form-control-user" />
      </div>
      <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
        <label>Momento</label>
        <select [(ngModel)]="momentSelect"  class="form-control form-control-user">
          <option [value]="null">
            Seleccione...
          </option>
          <option *ngFor="let moment of moments" [value]="moment">
            {{ getDayMoment(moment) }}
          </option>
        </select>
      </div>
      <div class="col-sm-6 col-md-3 mb-3 mt-4 mb-sm-0">
        <button class="btn btn-info mr-2" type="button" (click)="filterData()">Filtrar</button>
        <button class="btn btn-light" type="button" (click)="cleanFilter()">Limpiar Filtros</button>
      </div>
    </div>
  </div>
</div>
<div class="card shadow mt-4 mb-4">
  <div class="card-body">
    <div class="float-left">
        <p  *ngIf="patient.externo" class="mb-0"><a [routerLink]="['/patient-new-measurement']">Nueva medición</a></p>
    </div>
    <div class="float-right">
      <button class="btn btn-light" type="button" [disabled]="pageNumber == 0" (click)="previousPage()"><i class="fas fa-chevron-left"></i></button>
      <span>{{ +pageNumber + 1 }}</span>
      <button class="btn btn-light" type="button" [disabled]="lastPage" (click)="nextPage()"><i class="fas fa-chevron-right"></i></button>
    </div>

    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let measurement of measurements">
          <th scope="row">
            <span class=" {{ getClass(measurement.resultadoMedicion) }} icon-circle"></span>
          </th>
          <td>{{ measurement.valor }}</td>
          <td>{{ getDayMoment(measurement.momento) }}</td>
          <td>{{ measurement.fechaHora }}</td>
        </tr>
      </tbody>
    </table>
    <div class="float-left">
        <p  *ngIf="patient.externo" class="mb-0"><a [routerLink]="['/patient-new-measurement']">Nueva medición</a></p>
    </div>
    <div class="float-right">
      <button class="btn btn-light" type="button" [disabled]="pageNumber == 0" (click)="previousPage()"><i class="fas fa-chevron-left"></i></button>
      <span>{{ +pageNumber + 1 }}</span>
      <button class="btn btn-light" type="button" [disabled]="lastPage" (click)="nextPage()"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</div>
<button class="btn btn-secondary" type="button" (click)="back()">Volver</button>