<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Reporte: Ranking de alimentos</h1>
</div>
<div>
    <div *ngIf="!loading" style="display: block">
        <div class="row">
            <div class="col-sm-12 col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div *ngIf="!loadingMeasurementLog">
                            <table class="table table-striped table-bordered ">
                                <thead>
                                    <tr>
                                        <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let food of foodRanking">
                                        <th scope="row">
                                            <div class="text-center">
                                                <img class="rounded-circle" src="{{ apiUrl }}/imagen/alimento/{{ food.id }}/" height="40px" width="40px" alt="" />
                                            </div>
                                        </th>
                                        <td>{{ food.moment }}</td>
                                        <td>{{ food.name }}</td>
                                        <td>{{ food.description }}</td>
                                        <td>{{ food.ingestedTimes }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div *ngIf="loading" class="m-auto ">
            <i class="fa-3x fas fa-spinner fa-spin "></i>
        </div>
    </div>
</div>