.custom-theme,
.custom-theme .primary-text {
    color: #5c5c5c;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-theme .ng-chat-title {
    color: #fff;
}

.custom-theme .primary-background {
    background-color: #fff;
}

.custom-theme .secondary-background {
    background-color: #398bbe;
}

.custom-theme .primary-outline-color {
    border-color: #398bbe;
}

.custom-theme .friends-search-bar {
    background-color: #fff;
}

.custom-theme .unread-messages-counter-container,
.custom-theme .ng-chat-people-action,
.custom-theme .ng-chat-people-action>i {
    color: #5c5c5c;
    background-color: #e3e3e3;
}

.custom-theme .load-history-action {
    background-color: #e3e3e3;
}

.custom-theme .chat-window-input {
    background-color: #fff;
}

.custom-theme .sent-chat-message-container,
.custom-theme .file-message-container {
    background-color: #e3e3e3;
    border-color: #e3e3e3;
}

.custom-theme .received-chat-message-container,
.custom-theme .file-message-container.received {
    background-color: #fff;
    border-color: #e3e3e3;
}