<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5 border-bottom-success">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary text-center">Suscripción exitosa</h4>
                </div>
                <div class="card-body p-0">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">¡ Bienvenido a Gluko premium !</h1>
                            Para ver las nuevas funcionalidades de tu plan <a *ngIf="function == 'reload'" href="" [href]="['/dashboard']">recargá la página.</a
              ><a *ngIf="function == 'login'" href="" (click)="login()">volvé a iniciar sesión.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>