<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Medicamentos de {{ patient.nombre }}</h1>
</div>

<div class="card shadow mt-4 mb-4">
<div class="card-body">
  <div class="float-left">
    <button class="btn btn-info mb-3" data-toggle="modal" data-target="#modalNewMedicine" type="button">Nuevo</button>
  </div>
  <table class="table table-striped table-bordered ">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of medicines">
        <td>{{ item.droga }}</td>
        <td>{{ item.marca }}</td>
        <td>{{ item.presentacion }}</td>
        <td>{{ item.laboratorio }}</td>
      </tr>
  </tbody>
  </table>
  <div class="float-left">
      <button class="btn btn-info mt-0" data-toggle="modal" data-target="#modalNewMedicine" type="button">Nuevo</button>
  </div>
</div>
</div>
<button class="btn btn-secondary" type="button" (click)="back()">Volver</button>

<div class="modal fade" id="modalNewMedicine" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo medicamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ng2-completer 
          [(ngModel)]="medicine"
          [datasource]="customData"
          [minSearchLength]="3"
          [inputClass]="submitted && isInvalid ? 'is-invalid d-block form-control' : 'form-control'"
          [placeholder]="'Busca el medicamento'"
          (selected)="onMedicineSelected($event)"
          [openOnFocus]=true
          [textNoResults]="'No se encontraron resultados'"
          [textSearching]="'Buscando...'">
          </ng2-completer>
          <div *ngIf="submitted && isInvalid" class="invalid-feedback d-block">
              {{ getMedicineError() }}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button class="btn btn-success" type="submit" (click)="save()">Grabar</button>
      </div>
    </div>
  </div>
</div>
