<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Alimentos ingeridos por {{ patient.nombre }}</h1>
</div>
<div class="card shadow mt-4 mb-4">
<div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Filtros</h6>
</div>
<div class="card-body">
  <div class="row">
    <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
      <label>Fecha Hora Desde</label>
      <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" type="text" placeholder="" #fechaDesdeInput class="form-control form-control-user" />
      <owl-date-time #dt1></owl-date-time>
    </div>
    <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
      <label>Fecha Hora Hasta</label>
      <input type="text" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" placeholder="" #fechaHastaInput class="form-control form-control-user" />
      <owl-date-time #dt2></owl-date-time>
    </div>
    <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
      <label>Porciones desde</label>
      <input type="number" placeholder="" #porcionesDesdeInput class="form-control form-control-user" />
    </div>
    <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
      <label>Porciones hasta</label>
      <input type="number" placeholder="" #porcionesHastaInput class="form-control form-control-user" />
    </div>
    <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
      <label>Momento</label>
      <select [(ngModel)]="typeSelect" class="form-control form-control-user">
        <option [value]="null">
          Seleccione...
        </option>
        <option *ngFor="let type of types" [value]="type">
          {{getFoodMoment(type)}}
        </option>
      </select>
    </div>
    <div class="col-sm-6 col-md-3 mb-3 mt-4 mb-sm-0">
      <button class="btn btn-info mr-2" type="button" (click)="filterData()">Filtrar</button>
      <button class="btn btn-light" type="button" (click)="cleanFilter()">Limpiar Filtros</button>
    </div>
  </div>
</div>
</div>
<div class="card shadow mt-4 mb-4">
<div class="card-body">
  <div class="float-right">
    <button class="btn btn-light" type="button" [disabled]="pageNumber == 0" (click)="previousPage()"><i class="fas fa-chevron-left"></i></button>
    <span>{{ +pageNumber + 1 }}</span>
    <button class="btn btn-light" type="button" [disabled]="lastPage" (click)="nextPage()"><i class="fas fa-chevron-right"></i></button>
  </div>

  <table class="table table-striped table-bordered ">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foods">
        <td>  
          <div class="text-center">
              <ks-modal-gallery [id]="0" [modalImages]="getImageGallery(food)" [currentImageConfig]="{description: getDescriptionConfig(food)}" [slideConfig]="{infinite: false, sidePreviews: {show: false}}"
              [buttonsConfig]="{visible: false, strategy: 1}"
              [previewConfig]="{visible: false}"
              [dotsConfig]="{visible: false}"></ks-modal-gallery>
        </div>
      </td>
        <td>{{ food.alimento.nombre }}</td>
        <td>{{ food.alimento.indiceGlucemico }}</td>
        <td>{{ getFoodMoment(food.momento) }}</td>
        <td>{{ food.alimento.unidadReferencia }}</td>
        <td>{{ food.porciones }}</td>
        <td>{{ food.fechaHora }}</td>
      </tr>
    </tbody>
  </table>
  <div class="float-right">
    <button class="btn btn-light" type="button" [disabled]="pageNumber == 0" (click)="previousPage()"><i class="fas fa-chevron-left"></i></button>
    <span>{{ +pageNumber + 1 }}</span>
    <button class="btn btn-light" type="button" [disabled]="lastPage" (click)="nextPage()"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>
</div>
<button class="btn btn-secondary" type="button" (click)="back()">Volver</button>
