<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Mi ubiación</h1>
</div>

<div class="row">
    <div class="col-sm-3 mt-2 mb-3">
        <mat-slide-toggle (change)="setCurrentPosition()" [checked]="showCurrentPosition">Ubicación actual</mat-slide-toggle>
    </div>

    <div class="col-sm-3">
        <button class="btn btn-success" (click)="savePosition()">Grabar</button>
    </div>
</div>

<div id="map"></div>