<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bienvenido a Gluko!</h1>
                                </div>
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="user">
                                    <div class="form-group">
                                        <label class="sr-only">Usuario / Email</label>
                                        <input type="text" formControlName="username" placeholder="Usuario / Email..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['username'].errors }" />
                                        <div *ngIf="submitted && formControls['username'].errors" class="invalid-feedback">
                                            {{ getUsernameError() }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Contraseña</label>
                                        <input type="password" formControlName="password" placeholder="Contraseña..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['password'].errors }" />
                                        <div *ngIf="submitted && formControls['password'].errors" class="invalid-feedback">
                                            {{ getPasswordError() }}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block ">Login</button>
                                </form>
                                <hr />
                                <div class="text-center ">
                                    <a class="small" [routerLink]="['/signup']">¿No tienes una cuenta? Crea una.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>