.bg-login-image {
    background-image: url("../../../assets/img/register-image.png");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}