<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Paciente</h1>
</div>
<form [formGroup]="patientForm" (ngSubmit)="onSubmit()" class="">
    <div class="card shadow mt-4 mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                    <label>Nombre</label>
                    <input type="text" formControlName="name" placeholder="Nombre..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['name'].errors }" />
                    <div *ngIf="submitted && formControls['name'].errors" class="invalid-feedback">
                        {{ getNameError() }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                    <label>Fecha de nacimiento</label>
                    <input formControlName="birthDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" type="text" placeholder="" #birthDate class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['birthDate'].errors }" />
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    <div *ngIf="submitted && formControls['birthDate'].errors" class="invalid-feedback">
                        {{ getBirthDateError() }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                    <label>Altura</label>
                    <input type="text" formControlName="height" placeholder="1.75" class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['height'].errors }" />
                    <div *ngIf="submitted && formControls['height'].errors" class="invalid-feedback">
                        {{ getHeightError() }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                    <label>Peso</label>
                    <input type="text" formControlName="weight" placeholder="68.5" class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['weight'].errors }" />
                    <div *ngIf="submitted && formControls['weight'].errors" class="invalid-feedback">
                        {{ getWeightError() }}
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                    <label>Sexo</label>
                    <select formControlName="sex" class="form-control">
            <option [value]="sex['id']" *ngFor="let sex of sexEnum">{{ sex["label"] }}</option>
          </select>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                    <label>Tipo de diabetes</label>
                    <select formControlName="diabetesType" class="form-control">
            <option [value]="diabetesType['id']" *ngFor="let diabetesType of diabetesTypeEnum">{{ diabetesType["label"] }}</option>
          </select>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                    <label hidden>ID</label>
                    <input type="hidden" formControlName="id" placeholder="ID..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['id'].errors }" readonly />
                    <div *ngIf="submitted && formControls['id'].errors" class="invalid-feedback">
                        {{ getIDError() }}
                    </div>
                </div>
            </div>
            <div class="form-group mt-2 mb-3">
                <button class="btn btn-success">Grabar</button>
            </div>
        </div>
    </div>
</form>