.pricingTable {
    padding: 40px 0;
    text-align: center;
    position: relative;
    border: 2px solid #398bbe;
}

.pricingTable:hover {
    background: #f7fcfb;
}

.pricingTable:before,
.pricingTable:after {
    content: "";
    display: block;
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    transition: all 0.3s ease 0s;
}

.pricingTable:before {
    top: 0;
    border-bottom: none;
}

.pricingTable:after {
    bottom: 0;
    border-top: none;
}

.pricingTable:hover:before,
.pricingTable:hover:after {
    height: 50%;
}

.pricingTable .title {
    font-size: 30px;
    font-weight: 700;
    color: #898384;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}

.pricingTable .price-value {
    padding: 20px 0;
    background: #398bbe;
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
    border-top: 2px solid #398bbe;
    border-bottom: 2px solid #398bbe;
}

.pricingTable .pricing-content {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.pricingTable .pricing-content hr {
    width: 80%;
}

.pricingTable .pricing-content li {
    font-size: 15px;
    color: #898384;
    line-height: 30px;
}

.pricingTable .pricing-content li a {
    margin-left: 5px;
    margin-right: 5px;
}

.pricingTable .pricingTable-signup {
    display: inline-block;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #898384;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}

.pricingTable .pricingTable-signup:before,
.pricingTable .pricingTable-signup:after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    border: 2px solid #398bbe;
    position: absolute;
    left: 0;
    z-index: 2;
    transition: all 0.3s ease 0s;
}

.pricingTable .pricingTable-signup:before {
    top: 0;
    border-bottom: none;
}

.pricingTable .pricingTable-signup:after {
    bottom: 0;
    border-top: none;
}

.pricingTable .pricingTable-signup:hover:before,
.pricingTable .pricingTable-signup:hover:after {
    height: 50%;
}

.pricingTable .noPointer {
    cursor: default;
}

@media only screen and (max-width: 990px) {
    .pricingTable {
        margin-bottom: 30px;
    }
}