<script type="text/javascript">
    (function() {
        function $MPC_load() {
            window.$MPC_loaded !== true &&
                (function() {
                    var s = document.createElement("script");
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js";
                    var x = document.getElementsByTagName("script")[0];
                    x.parentNode.insertBefore(s, x);
                    window.$MPC_loaded = true;
                })();
        }
        window.$MPC_loaded !== true ?
            window.attachEvent ?
            window.attachEvent("onload", $MPC_load) :
            window.addEventListener("load", $MPC_load, false) :
            null;
    })();
</script>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Suscripción</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="pricingTable">
                <h3 class="title">Básico</h3>
                <div class="price-value">$10 /month</div>
                <ul class="pricing-content">
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i> </a>Ver reportes de mediciones en tiempo real de pacientes
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Ingreso de medicaciones recetadas a pacientes
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Realizacion de informes que formarán la historia clínica del paciente
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Exportación de los reportes de mediciones a una planilla de cálculo
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Exportación de la historia clínica de los pacientes a PDF
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Visualización de los alimentos ingeridos por los pacientes
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Visualización de los medicamentos ingeridos por los pacientes
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Visualización de los ejercicios realizados por los pacientes
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Visualización de las inyecciones de insulina de los pacientes
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Cálculo del valor de hemoglobina glicosilada de los pacientes
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Chat con los pacientes
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-danger btn-circle btn-sm"> <i class="fas fa-times"></i></a>Carga de datos de pacientes que no utilicen el sistema y sus mediciones
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-danger btn-circle btn-sm"> <i class="fas fa-times"></i></a>Visualización de reportes anónimos generales de los pacientes que utilicen el sistema
                    </li>
                </ul>
                <a class="pricingTable-signup" (click)="activateSubscription(MEDIC_BASIC)">Activar</a>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="pricingTable">
                <h3 class="title">Premium</h3>
                <div class="price-value">$20 /month</div>
                <ul class="pricing-content">
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Funcionalidades incluidas en el plan básico
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Carga de datos de pacientes que no utilicen el sistema y sus mediciones
                    </li>
                    <hr />
                    <li>
                        <a href="#" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-check"></i></a>Visualización de reportes anónimos generales de los pacientes que utilicen el sistema
                    </li>
                </ul>
                <div *ngIf="!initPoint && !isPremium">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>
                <div *ngIf="initPoint">
                    <a [href]="initPoint" class="pricingTable-signup">Activar</a>
                </div>
                <div *ngIf="isPremium">
                    <p class="pricingTable-signup noPointer">Ya eres Gluko premium.</p>
                </div>
            </div>
        </div>
    </div>
</div>