<div class="dropdown-item d-flex align-items-center">
    <div class="mr-3">
        <a href="" [class]="colorClass">
            <i [class]="iconClass"></i>
        </a>
    </div>
    <div>
        <div class="small text-gray-500">Nuevo estado de pago</div>
        <span class="font-weight-bold">{{ mesage }}</span>
    </div>
</div>