<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Nueva entrada de historia clínica de {{ patient.nombre }}</h1>
</div>

<form [formGroup]="historyForm" (ngSubmit)="save()" class="user">
    <div class="card shadow mt-4 mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                    <input formControlName="id" type="hidden" placeholder="" #idInput class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['id'].errors }" />
                    <label>Fecha</label>
                    <input formControlName="date" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" type="text" placeholder="" #fechaInput class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['date'].errors }" />
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    <div *ngIf="submitted && formControls['date'].errors" class="invalid-feedback">
                        {{ getDateError() }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mt-4 mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 mb-3 mb-sm-0">
                    <label for="description">Descripción</label>
                    <textarea formControlName="description" class="form-control" style="width: 100%; height: 300px;" #description [ngClass]="{ 'is-invalid': submitted && formControls['description'].errors }"></textarea>
                    <div *ngIf="submitted && formControls['description'].errors" class="invalid-feedback">
                        {{ getDescriptionError() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success mr-2" type="submit">Grabar</button>
    <button class="btn btn-secondary" type="button" (click)="back()">Volver</button>
</form>