<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="../../../../assets/img/logo-menu.png" class="img-responsive" width="48" height="48" />
        </div>
        <div class="sidebar-brand-text mx-2">Gluko <sup>1.0.0</sup></div>
    </a>

    <hr class="sidebar-divider my-0" />

    <li class="nav-item" *ngxPermissionsOnly="PERMISSION_BASIC">
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>&nbsp;Dashboard</span>
        </a>
    </li>

    <hr class="sidebar-divider" />

    <div class="sidebar-heading">
        Pacientes
    </div>

    <li class="nav-item" *ngxPermissionsOnly="PERMISSION_BASIC">
        <a class="nav-link" [routerLink]="['/patients']" routerLinkActive="active">
            <i class="fas fa-fw fa-user-md"></i>
            <span>&nbsp;Pacientes</span>
        </a>
    </li>

    <li class="nav-item" *ngxPermissionsOnly="PERMISSION_PREMIUM">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-chart-bar"></i>
            <span>&nbsp;Reportes</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" [routerLink]="['/report/number-measurements']" routerLinkActive="active">Cantidad de mediciones</a>
                <a class="collapse-item" [routerLink]="['/report/by-moment']" routerLinkActive="active">Por momento</a>
                <a class="collapse-item" [routerLink]="['/report/by-age-range']" routerLinkActive="active">Por rango de edad</a>
                <a class="collapse-item" [routerLink]="['/report/by-diabetes-type']" routerLinkActive="active">Por tipo de diabetes</a>
                <a class="collapse-item" [routerLink]="['/report/by-measurement-type']" routerLinkActive="active">Por tipo de medición</a>
                <a class="collapse-item" [routerLink]="['/report/food-ranking']" routerLinkActive="active">Ranking de alimentos</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider" />

    <li class="nav-item" *ngxPermissionsOnly="PERMISSION_BASIC">
        <a class="nav-link" [routerLink]="['/subscription']" routerLinkActive="active">
            <i class="fas fa-hand-holding-heart"></i>
            <span>&nbsp;Suscripción</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block" />

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>