.bg-register-image {
    background-image: url("../../../assets/img/register-image.png");
    background-position: center;
    background-color: rgb(195, 195,195);
    background-size: 80%;
    background-repeat: no-repeat; 
  }