<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Crea una cuenta!</h1>
                        </div>
                        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="sr-only">Email</label>
                                    <input type="email" formControlName="email" placeholder="Email..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['email'].errors }" />
                                    <div *ngIf="submitted && formControls['email'].errors" class="invalid-feedback">
                                        {{ getEmailError() }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="sr-only">Usuario</label>
                                    <input type="text" formControlName="username" placeholder="Usuario..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['username'].errors }" />
                                    <div *ngIf="submitted && formControls['username'].errors" class="invalid-feedback">
                                        {{ getUsernameError() }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="sr-only">Contraseña</label>
                                    <input type="password" formControlName="password" placeholder="Contraseña..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['password'].errors }" />
                                    <div *ngIf="submitted && formControls['password'].errors" class="invalid-feedback">
                                        {{ getPasswordError() }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="sr-only">Confirmar contraseña</label>
                                    <input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['confirmPassword'].errors }" />
                                    <div *ngIf="submitted && formControls['confirmPassword'].errors" class="invalid-feedback">
                                        {{ getConfirmPasswordError() }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="sr-only">Nombre y apellido</label>
                                    <input type="email" formControlName="name" placeholder="Nombre y apellido..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['name'].errors }" />
                                    <div *ngIf="submitted && formControls['name'].errors" class="invalid-feedback">
                                        {{ getNameError() }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="sr-only">Matrícula</label>
                                    <input type="text" formControlName="enrollment" placeholder="Matrícula..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['enrollment'].errors }" />
                                    <div *ngIf="submitted && formControls['enrollment'].errors" class="invalid-feedback">
                                        {{ getEnrollmentError() }}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Registrar Cuenta</button>
                        </form>
                        <hr />
                        <div class="text-center ">
                            <a class="small" [routerLink]="['/login']">¿Ya tienes una cuenta? Inicia sesión.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>