@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.good-value {
    background-color: #e74a3b;
    height: 15px;
    width: 15px;
}

.medium-value {
    background-color: #1cc88a;
    height: 15px;
    width: 15px;
}

.bad-value {
    background-color: #e74a3b;
    height: 15px;
    width: 15px;
}

a:not([href]):not([tabindex]).download-button {
    color: white;
    cursor: pointer;
}

.warning {
    color: #f6c23e;
}

.alert-minimalist>[data-notify="message"] {
    color: rgb(55, 55, 55);
}

.alert-minimalist-success {
    background-color: #D4EDDA;
}

.alert-minimalist-error {
    background-color: #F8D7DA;
}