<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Insulina inyectada de {{ patient.nombre }}</h1>
    <button class="btn btn-info mb-3" data-toggle="modal" data-target="#insulinFactor" type="button">Factores de insulina</button>
</div>
<div class="card shadow mt-4 mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Filtros</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                <label>Fecha Hora Desde</label>
                <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" type="text" placeholder="" #fechaDesdeInput class="form-control form-control-user" />
                <owl-date-time #dt1></owl-date-time>
            </div>
            <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                <label>Fecha Hora Hasta</label>
                <input type="text" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" placeholder="" #fechaHastaInput class="form-control form-control-user" />
                <owl-date-time #dt2></owl-date-time>
            </div>
            <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                <label>Unidades desde</label>
                <input type="number" placeholder="" #unidadesDesdeInput class="form-control form-control-user" />
            </div>
            <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                <label>Unidades hasta</label>
                <input type="number" placeholder="" #unidadesHastaInput class="form-control form-control-user" />
            </div>
            <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
                <label>Tipo</label>
                <select [(ngModel)]="typeSelect" class="form-control form-control-user">
          <option [value]="null">
            Seleccione...
          </option>
          <option *ngFor="let type of types" [value]="type">
            {{ getInsulinTypes(type) }}
          </option>
        </select>
            </div>
            <div class="col-sm-6 col-md-3 mb-3 mt-4 mb-sm-0">
                <button class="btn btn-info mr-2" type="button" (click)="filterData()">Filtrar</button>
                <button class="btn btn-light" type="button" (click)="cleanFilter()">Limpiar Filtros</button>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mt-4 mb-4">
    <div class="card-body">
        <div class="float-right">
            <button class="btn btn-light" type="button" [disabled]="pageNumber == 0" (click)="previousPage()"><i class="fas fa-chevron-left"></i></button>
            <span>{{ +pageNumber + 1 }}</span>
            <button class="btn btn-light" type="button" [disabled]="lastPage" (click)="nextPage()"><i class="fas fa-chevron-right"></i></button>
        </div>

        <table class="table table-striped table-bordered ">
            <thead>
                <tr>
                    <th *ngFor="let head of headElements" scope="col">{{ head }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let insulin of insulins">
                    <td>{{ insulin.unidades }}</td>
                    <td>{{ getInsulinTypes(insulin.tipo) }}</td>
                    <td>{{ insulin.fechaHora }}</td>
                </tr>
            </tbody>
        </table>
        <div class="float-right">
            <button class="btn btn-light" type="button" [disabled]="pageNumber == 0" (click)="previousPage()"><i class="fas fa-chevron-left"></i></button>
            <span>{{ +pageNumber + 1 }}</span>
            <button class="btn btn-light" type="button" [disabled]="lastPage" (click)="nextPage()"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</div>
<button class="btn btn-secondary" type="button" (click)="back()">Volver</button>

<form [formGroup]="insulinFactorForm" (ngSubmit)="onInsulinFactorSubmit()">
    <div *ngIf="insulineFactor" class="modal fade" id="insulinFactor" tabindex="-1" role="dialog" aria-labelledby="insulinFactorLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="insulinFactorLabel">Factor de correción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 mb-6 mb-sm-0">
                            <label>Glucemia <span  class="modal-tooltip" z-index="10000" tooltip="Es el factor de sensiblidad a la insulina del paciente, es decir indica la cantidad de glucosa (mg/dl) que hace disminuir 1 unidad de insulina." placement="bottom" show-delay="250"><i class="fas fa-exclamation-circle text-primary "></i></span></label>
                            <input type="number" formControlName="sugar" placeholder="Factor de corrección azúcar..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['sugar'].errors }" />
                            <div *ngIf="submitted && formControls['sugar'].errors" class="invalid-feedback">
                                {{ getSugarError() }}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 mb-6 mb-sm-0">
                            <label>Hidratos de Carbono <span  class="modal-tooltip" z-index="10000" tooltip="Son gramos de hidratos de carbono descartados por 1 unidad de insulina" placement="bottom" show-delay="250"><i class="fas fa-exclamation-circle text-primary "></i></span></label>
                            <input type="number" formControlName="carbohydrates" placeholder="Factor de corrección hidratos de carbono..." class="form-control form-control-user" [ngClass]="{ 'is-invalid': submitted && formControls['carbohydrates'].errors }" />
                            <div *ngIf="submitted && formControls['carbohydrates'].errors" class="invalid-feedback">
                                {{ getCarbohydratesError() }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-success" type="submit">Grabar</button>
                </div>
            </div>
        </div>
    </div>
</form>